* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: monospace;
    letter-spacing: 1px;
    text-decoration: none;
    color: #363636;
}

body {
    width: 100vw;
    height: 100vh;
}
main {
    height: 95%;
}
main,.sectionH1,.sectionConteudo,table, form, section > div, #msg>span, footer{
 width: 100%;
}
.sectionH1, .sectionConteudo,form > div, .sectionEsquerda,article,form,section > div,#msg>span,.colunaDireita,footer {
display: flex;
}
section > div{
    height: 30%;
}
#msg>span,.colunaDireita {
    height: 100%;

}
.sectionH1,#msg>span, article,form{
    align-items: center;
}
table,
td,
th{
 text-align: center;
}
.sectionH1,
#msg>span, article,form{
 justify-content: center;
}
#msg>span{
    color: #F0F0F0;
}
.sectionH1{
    height: 10%;
}
h1 {
    font-size: 30px;
    line-height: 36px;
    text-shadow: 2px 2px 4px #00000063;
}
.sectionConteudo {
    height: 85%;
}
.sectionEsquerda,.colunaDireita{
 width: 50%;
}
.sectionEsquerda {
    flex-direction: column;
    gap: 60px;
    margin: 2%;
}
table,
td,
th {
    border-collapse: collapse;
    border: 1px solid black;
    font-size: 15px;
}
article {
    background-color: #F0F0F0;
    border-radius: 10px;
}
form {
  
    font-size: 18px;
    line-height: 20px;
}
form > div {
    margin: 3%;
}
button {
    background-color: #BA68C8;
    color: #F0F0F0;
    width: 100px;
    height: 40px;
    border-radius: 10px;
    border: none;
}
#msg>span {
    font-size: 15px;
    background-color: #BA68C8;
    border-radius: 50%;
}
.colunaDireita {
    background-image: url(../assets/Healthy\ lifestyle.gif);
    background-size: contain;
    background-repeat: no-repeat;
}
footer {
    justify-content: space-around;
    height: 5%;
  
}
@media only screen and (max-width:900px) {
     main{
        width: 95%;
        height: 100%;
    }
     .sectionConteudo{
    gap: 10%;
  }
   .sectionH1,  .sectionEsquerda,.colunaDireita,article,form,.sectionConteudo{
 width: 100%;
   }
     .sectionH1,#msg>span{
        text-align: center;
     }
   .sectionH1{
        height:15%;
        margin: 2%;

    }
        .sectionEsquerda{
      gap: 5%;
      height: 40%;
    }
    .colunaDireita{
        height: 50%;
        background-position: center;
        background-size:contain ;
    }
    table, td,tr,th{
          border: none;
    }
   td,tr,th{  
    text-align: left; 
   }
   td{
    width: 50%;
   }
     article, form{
        height: 50%;
     }
    article,form,.sectionConteudo{
        flex-direction: column;
    }
    form  div{
        margin: 5px;
    }
    p{
        display: none;
    }
    h1{
         font-size: 20px;
    line-height:26px;
    }
#msg>span{
    border-radius: 10px;
    margin: 2%;
}    
}