* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: monospace;
    letter-spacing: 1px;
    text-decoration: none;
    color: #363636;
}

body {

    height: 100vh;
}

main {
    height: 95%;
}

main,
.sectionH1,
.sectionConteudo,
article,
table,
form,
section>div,
#msg>span,
footer {
    width: 100%;
}

/* .sectionH1, */
.sectionConteudo,
form>div,
.sectionEsquerda,
article,
form,
section>div,
#msg>span,
.colunaDireita,
footer {
    display: flex;
}

section>div {
    height: 30%;
}

#msg>span,
.colunaDireita {
    height: 100%;

}

/* .sectionH1, */
#msg>span,
article,
form,
footer {
    align-items: center;
}

table,
td,
th {
    text-align: center;
}

/* .sectionH1, */
#msg>span,
article,
form {
    justify-content: center;
}

#msg>span {
    color: #F0F0F0;
}

.sectionH1 {
    height: 15%;
}

h1 {
    font-size: 30px;
    line-height: 36px;
    text-shadow: 2px 2px 4px #00000063;
}

.sectionConteudo {
    height: 85%;
}

.sectionEsquerda,
.colunaDireita {
    width: 50%;
}

.sectionEsquerda {
    flex-direction: column;
    gap: 60px;
    margin: 2%;
}

table,
td,
th {
    border-collapse: collapse;
    border: 1px solid black;
    font-size: 15px;
}

article {
    background-color: #F0F0F0;
    border-radius: 10px;
}

form {

    font-size: 15px;
    line-height: 16px;
}

form>div {
    margin: 2%;
}

input {
    width: 100px;
}

button {
    background-color: #BA68C8;
    color: #F0F0F0;
    width: 100px;
    height: 40px;
    border-radius: 10px;
    border: none;
}

#msg>span {
    font-size: 15px;
    background-color: #BA68C8;
    border-radius: 10px;
    text-align: center;
}

.colunaDireita {
    background-image: url(../assets/Healthy\ lifestyle.gif);
    background-size: contain;
    background-repeat: no-repeat;
}

footer {
    justify-content: space-around;
    height: 5%;
    border-top: 0.5px solid #E3C2E9;

}

footer a {
    color: #E3C2E9;

}

/* ============================================================================
============================================================================ */

@media only screen and (max-width:900px) {
    main {
        height: 100%;
    }

    main,
    .sectionEsquerda,
    article,
    .sectionConteudo {
        width: 100%;
    }

    .colunaDireita {
        width: 80%;

    }
form{
    width: fit-content;
    display: block;
  background-color: yellowgreen;
}
    .sectionConteudo {
        gap: 30%;
        display: block;
    }

    .sectionEsquerda {
        gap: 20px;
        margin: auto;
        padding: 10px;
    }

    p {
        display: none;
    }

    .sectionH1,
    #msg>span {
        text-align: center;
    }

    table {

        background-color: aqua;
    }

    table,
    td,
    tr,
    th {
        border: none;
        border-bottom: 1px solid #BA68C8;
    }

    td,
    tr,
    th {
        text-align: left;
    }
    footer{
        margin-bottom: 0;
    }
}